<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    [(opened)]="isDrawerOpen"
    #drawer
    class="example-sidenav"
    mode="side"
  >
    <div class="example-sidenav-content">
      <p>
        <mat-list>
          <mat-list-item>
            <a [routerLink]="['/']">
              {{ "home" | capitalize }}
            </a></mat-list-item
          >
          <mat-list-item>
            <a [routerLink]="['/users']">
              {{ "users" | capitalize }}
            </a>
          </mat-list-item>
          <mat-list-item>
            {{ "logout" | capitalize }}
          </mat-list-item>
        </mat-list>
      </p>
    </div>
  </mat-drawer>
  <app-header (newItemEvent)="toggleDrawer()" [title]="title"></app-header>
  <mat-grid-list cols="2" rowHeight="4:1.8">
    <mat-grid-tile>
      <form (ngSubmit)="onSubmit(formValues)" #formValues="ngForm">
        <input type="email" ngModel name="email" required />
        <input type="password" ngModel name="password" required />
        <input type="submit" />
      </form>
    </mat-grid-tile>
    <mat-grid-tile>Grid 2</mat-grid-tile>
    <mat-grid-tile>Grid 3</mat-grid-tile>
    <!-- <mat-grid-tile>{{
        "2021-06-22T05:00:00" | toDate: "DD-MM-YYYY"
      }}</mat-grid-tile> -->
  </mat-grid-list>
  <app-footer></app-footer>
</mat-drawer-container>
